html {
  margin: 0;
  padding: 0;
  min-height: 750px;
}
body {
  background-color: var(--primary-wall);
}
:root {
  --primary-background: rgb(217, 233, 230);
  --primary-wall: #f5f5f5;
  --secondary-color: #141414;
  --input-color: white;
  --text-color: #141414;
  --border-color: #312e2e;
}
.dark-theme {
  --primary-wall: #1d1c1c;
  --primary-background: #131212;
  --secondary-color: #f5f5f5;
  --input-color: #333131;
  --text-color: #f5f5f5;
  --border-color: #f5f5f5;
}
:hover {
  --background-color: #dddd;
  --color: #011101;
}
.theme-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme-wrapper #sun-icon {
  cursor: pointer;
  border-radius: 50px;
}
body {
  transition: 0.3s ease-in-out;
}

.dose_calc {
  width: fit-content;
  height: fit-content;
  margin: 20px auto;
  background-color: var(--primary-background);
  color: var(--secondary-color);
  transition: 0.3s ease-in-out;
  padding: 20px;
  border: 5px solid;
  border-radius: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  border-color: #6f7a70;
  box-shadow: 10px 15px 28px 2px rgba(0, 0, 0, 0.66);
  -webkit-box-shadow: 10px 15px 28px 2px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 10px 15px 28px 2px rgba(0, 0, 0, 0.66);
}
.normal-dose {
  text-align: center;
  font-size: 30px;
  padding: 3px;
  margin-bottom: 5px;
}
.dose-value {
  display: flex;
  justify-content: center;
  padding: 5px;
}
#dl {
  width: 80%;
  border-radius: 9px;
  border: solid 1px var(--border-color);
  height: 35px;
  background-color: var(--input-color);
  color: var(--secondary-color);
  transition: 0.3s ease-in-out;
}
.max-dose {
  text-align: center;
  margin-bottom: 5px;
  font-size: 180%;
  padding: 10px;
}
.number-value {
  text-align: center;
  border-color: rgb(2, 7, 22);
  margin-bottom: 5px;
  margin-top: 3px;
}
#dm {
  height: 35px;
  width: 80%;
  border-radius: 9px;
  border: solid 1px var(--border-color);
  border: 1px solid;
  background-color: var(--input-color);
  color: var(--secondary-color);
  transition: 0.3s ease-in-out;
}
.unit {
  text-align: center;
  margin-bottom: 4px;
  margin-top: 1px;
  font-size: 180%;
  padding: 10px;
}
#unitCount {
  padding: 5px;
  width: 60%;
  border-radius: 10px;
  border: solid 1px var(--border-color);
  height: 40px;
  margin-bottom: 7px;
  background-color: var(--input-color);
  color: var(--secondary-color);
  transition: 0.3s ease-in-out;
}
.unit-value {
  text-align: center;
  padding: 2px;
  margin-top: 3px;
}
#factor {
  height: 40px;
  width: 80%;
  border-radius: 9px;
  border: solid 1px var(--border-color);
  margin-top: 5px;
  border: 1px solid;
  background-color: var(--input-color);
  color: var(--secondary-color);
  transition: 0.3s ease-in-out;
}

#btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}
#operation {
  width: 50%;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--primary-background);
  color: var(--secondary-color);
  transition: 0.2s ease-in-out;
}
#operation:hover {
  background-color: var(--background-color);
  color: var(--color);
}

#result {
  text-align: center;
  font-size: 200%;
  margin-top: 30px;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  color: var(--text-color);
  transition: 0.3s ease-in-out;
}
body .dose_calc .statement-box {
  padding: 3px;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  transition: 0.3s ease-in-out;
}
body .dose_calc .statement-box #result-statement {
  font-weight: 600;
  font-size: 20px;
  color: var(--text-color);
}
.wm-container {
  text-align: center;
}
body .dose_calc #watermark {
  display: inline-block;
  font-family: "Pacifico", cursive;
  font-size: 25px;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing;
  animation-duration: 3s;
  animation-timing-function: steps(100, end);
  animation-fill-mode: forwards;
}
@keyframes typing {
  from {width: 0}
  to {width: 100%;}
}
